<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <connectionStrings>
    <add name="TAContext" connectionString="Data Source=31.210.86.2;Initial Catalog=IF;Persist Security Info=false;User Id=sa;Password=_Response2048;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
