@page
@model TutumluAnne.Log.AdminUI.Pages.Account.LoginModel


<h2>Giriş</h2>

<form  method="post">
    @Html.AntiForgeryToken()
    <div class="form-group">
        <label>Kullanıcı Adı</label>
        <input type="text" class="form-control" name="Username" value="" />
    </div>
    <div class="form-group">
        <label>Şifre</label>
        <input type="password" name="Password" class="form-control" value="" />
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-primary" name="name" value="Giriş" />
    </div>

</form>
