<div class="row">
    <div class="col-md-12">
        @{await Html.RenderPartialAsync("~/Views/Dictionary/_FilterForm.cshtml");}
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        &nbsp;
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        @{await Html.RenderPartialAsync("~/Views/Dictionary/_GridView.cshtml");}
    </div>
</div>


